body {
    font-family: monospace;
    margin: 50px;
}
table {
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
    margin: 20px;
  }
  td {
    border: 1px solid rgb(209, 209, 209);;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #d6d6d6;
  }
  #head {
      width: 100%;
      font-size: 30px;
      text-align: center;
  }
  h2 {
      margin-right: 70px;
      text-align: right;
  }
  #list {
      margin-right: 0px;
      margin-bottom: 20px;
      font-family: monospace;
      text-align: right;
      float: right;
  }
